  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="hero-unit" style="height:400px;">
          <h3>Application Name</h3>
          <br>
          <p>This is a template for a bootstrapping a new rails application using devise and twitter's bootstrap. Use it as a starting point to create something more unique.</p>
          </div>
      </div><!--/span-->
    </div><!--/row-->
